body {
	text-align: center;
	background: linear-gradient(#1a1a1a, #333333) fixed;
	color: #cccccc;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 50px;
	color: #ff6600;
}

pre {
	font-size: 15px;
	color: #66cccc;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

header pre {
	color: #ffff99;
	text-shadow: 0 0 20px #f1f1f1;
	font-size: 21px;
}

header pre:hover {
	animation: headerColor 20s infinite;
}

@keyframes headerColor {
  0% { color: #ffff99; }
  10% { color: purple; }
  20% { color: red; }
  30% { color: yellow; }
  40% { color: blue; }
  50% { color: green; }
  60% { color: orange; }
  70% { color: magenta; }
  80% { color: teal; }
  90% { color: pink; }
  100% { color: #ffff99; }
}

input[type="search"] {
	width: 500px;
}

input, button {
	font-size: 14px;
	background: #444444;
	color: #cccccc;
	border: none;
	padding: 5px 10px;
	margin: 5px;
}

button:hover {
	background: #ff6600;
	color: #333333;
}

form {
	padding-top: 20px;
	padding-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

a {
	color: #66cccc;
	text-decoration: none;
}

a:visited {
	color: #ff6600;
	text-decoration: line-through;
}

a:hover {
	color: #ffff99;
}

ul {
	padding-top: 20px;
	list-style-type: none;
	column-count: 3;
}

header#search {
	display: inline;
	justify-content: left;
	align-items: center;
	height: 60vh;
}

#result {
	background: #333333;
	border: 1px solid #cccccc;
	color: #cccccc;
	padding: 10px;
	margin: 10px;
	text-align: left;
}

#result-url {
	color: red;
	font-style: italic;
}
