body {
	text-align: center;
	background: linear-gradient(#1a1a1a, #333333) fixed;
	color: #cccccc;
}

h1 {
	font-size: 50px;
	color: #ff6600;
}

pre {
	font-size: 15px;
	color: #66cccc;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

header pre {
	color: #ffff99;
}

input, button {
	font-size: 14px;
	background: #333333;
	color: #cccccc;
	border: 1px solid #ff6600;
}

button:hover {
	background: #ff6600;
	color: #333333;
}

form {
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	color: #66cccc;
}

a:visited {
	color: #ff6600;
}

a:hover {
	color: #ffff99;
}

ul {
	padding-top: 20px;
	list-style-type: none;
	column-count: 3;
}
