body {
	text-align: center;
	background: linear-gradient(#fed6af, #ffffee) fixed;
	color: #880000;
}

h1 {
	font-size: 50px;
}

pre {
	font-size: 15px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

header pre {
	color: #008888;
}

input, button {
	font-size: 14px;
	background: #f0e0d6;
	color: #880000;
}

button:hover {
	background: #ffa366;
}

form {
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	color: #008888;
}

a:visited {
	color: #880000;
}

a:hover {
	color: #ffa366;
}

ul {
	padding-top: 20px;
	list-style-type: none;
	column-count: 3;
}
